/* CSS For the All Tv Section */
.boxAllTvs {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    flex-basis: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 100px;
    border: solid 1px #686868;
    background-color: #DDDDDD;
    color: #353535
}
.productArticle {
    display: flex;
    flex-direction:row;
    width: 100%;
    align-items: center;
}
.productImage {
    height: 250px;
    width: 400px;
    padding:50px;
}
.productContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.results {
    text-align: start;
}

